* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #cceeec;
	width: 100%;
}

/*Barra com logo e menu */
header #topo {
	height: 61px; /*altura*/
	width: 100%; /*largura*/
	background: #004d40;
	float: left;
	top: 0;
	z-index: 1;
	margin-bottom: 6px;
	/*border:  1px solid red;*/
	position:fixed;
}

header #logo {
	width: 143px; /*largura do logo*/
	height: 37px; /*altura do do logo*/
	background: url(../img/logo.png) no-repeat right;
	text-indent: -3000px;/* para leitores de tela*/
	margin-left: 20px;
	margin-top: 7px;
	margin-bottom:20px;
    float: left;
	/*border:  1px solid red;*/
}

/*barra de navegacao horizontal*/

#topo a:hover {
	color: #0b879c;
	height: 50px;
	text-align: center;	
}

/*Corpo do site*/

#conteudo {
	width: 65%;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 100px;
}

.foto {
	width: 50%;
	height: 298px;
}

/*imagens do carrocel*/
#foto a img {
	width: 100%;
	height: 300px;
}

/*fim imagens do carrocel*/

.caixa {
	text-align: center;
	margin: 10px;
	padding: 10px;
	border-radius: 50% solid #00bfa5;
	background: #f3f3f3;
	color: #00695c;
}
.caixa img {
	margin: 10px;
}

.cartao { background-color: #a7ffeb; position: absolute; width: 400px; height: 250px; float: left; }

.circulo { border-radius: 50%; }

.estrutura img { width: 60px; }

.estrutura button { background-color: #cceeec; 	border: none; margin: 5px; } 

/* Foter */
footer {
	background-color: #006151;
    font-size:8pt;
	color: #fff;
    width:100%;
    position:fixed;
    padding: 10px;
    bottom:0;
    left:0;
	height: 100px; /*altura*/
}

footer img { width: 40px; }

footer ul li { display: inline-block; padding: 5px 10px 5px; }


.footer-desenvolvedores { float: left; 	font-size: 0.9em; margin: 10px; }

.footer-links { float: right; background-color: #006151; }

.footer-copyright { text-align: center; padding-top: 60px; }
/* Fim Footer*/

/* SMALL DEVICES - TABLETS*/
@media screen and (min-width: 768px) {
/* efeito de movimento para esquera ao passar o mouse */
	a:hover { background-position: right bottom; color: #fff; }
}

/* MEDIUM DEVICES - TABLETS & DESKTOPS*/
@media screen and (min-width: 960px) {
	.title {width: 70%; float: left; text-align: left;}
	.title h2 {font-size: 3em;}
	.title h3 {font-size: 2em;}
	.buttons {width: 30%; float: right; margin-top: 0; }
	.servico {width: 32%; }
	.servico:nth-child(2){margin-right: 2%;}
	.servico:nth-child(3){margin-right: 0;}
	.newsletter input {width: 60%; float: none;}
	.newsletter button {width: 20%; float: none;}
}

/* LARGE DEVICES - WIDE SCREENS*/
@media screen and (min-width: 1280px) {
	.btn-menu {display: none;}
	.btn-close {display: none;}
	.menu {width: auto; height: 56px; 
		line-height: 56px; 
		float: right; 
		background-color: #f5f5f5; 
		display: block !important; 
		position: static;
	}
	.menu li {padding: 0; float: left;}
	.menu li a {color:#130400; font-size: 1em; padding: 15px; }
	.menu li a:hover {border: none; color:#da6709; }
}


